<h1>Super Fun Time Pet Simulator</h1>
<h3>@Model.GetName()</h3>
<img src="../@Model.GetImg()" alt="picture of animal"><br>
<form class="" action="/feed/@Model.GetId()" method="post">
  <p>@Model.GetName() is @Model.GetFoodStatus()</p>
  <button name="food" type="submit">Feed @Model.GetName()</button>
</form>
<form class="" action="/love/@Model.GetId()" method="post">
  <p>@Model.GetName() is @Model.GetLoveStatus()</p>
  <button name="love">Play with @Model.GetName()</button>
</form>
<form class="" action="/rest/@Model.GetId()" method="post">
  <p>@Model.GetName() is @Model.GetRestStatus()</p>
  <button name="rest">Put @Model.GetName() to bed</button>
</form>
<p><a href="/pets">Return to pet list.</a></p>
