<h1>Super Fun Time Pet Simulator</h1>
<h3>@Model.GetName()</h3>
<p>@Model.GetName() is @Model.GetFoodStatus()</p>
<p>@Model.GetName() is @Model.GetLoveStatus()</p>
<p>@Model.GetName() is @Model.GetRestStatus()</p>
<p><a href="/pets">Return to pet list.</a></p>
